.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.modal-wrapper .modal {
  background-color: white;
  border-radius: 0.8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  gap: 2rem;
  width: 100%;
}

.modal-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.modal-title h2 {
  font-size: 1.4rem;
  font-weight: 600;
}
.modal-title p {
  font-size: 1rem;
  color: var(--text-color-sec);
}
.modal-header button {
  background: transparent;
  font-size: 1.6rem;
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 0.8rem;
  border: none;
  color: var(--text-color);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-body {
  padding: 1rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.8rem;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: var(--text-color-sec);
  color: var(--text-color-sec);
  margin: 0.8rem 0;
}

.user-info h3 {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 0.4rem;
}
